body{
    background:blue;
}
ul{
    color:red;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
li{
    text-align:center;
    list-style-type: none;
    width:100%;
    height:70px;
    
}